@model IEnumerable<TrainingCentreManagement.Models.EntityModels.Batches.Batch>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_PartialLayout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsNameDisplayed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EntityDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrainingStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BatchSchedule)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Training)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsFree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsNameDisplayed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntityDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrainingStart)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.BatchSchedule.Discriminator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Training.Discriminator)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.IsFree)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
