<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Training Centre Management</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>

    <environment>
        <link rel="profile" href="http://gmpg.org/xfn/11">
        <link href="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/css" rel="stylesheet">
        <link rel="pingback" href="https://pencilboxtraining.com/website/xmlrpc.php">
        <title>PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="dns-prefetch" href="https://s.w.org/">
        <link rel="alternate" type="application/rss+xml" title="PencilBox Training &amp; Consultancy » Feed" href="https://pencilboxtraining.com/website/feed/">
        <link rel="alternate" type="application/rss+xml" title="PencilBox Training &amp; Consultancy » Comments Feed" href="https://pencilboxtraining.com/website/comments/feed/">
        <link rel="stylesheet" id="pmpro_blocks_style-css" href="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/blocks.style.css" type="text/css" media="all">
        <link rel="stylesheet" id="pmpro_frontend-css" href="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/frontend.css" type="text/css" media="screen">
        <link rel="stylesheet" id="pmpro_print-css" href="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/print.css" type="text/css" media="print">
        <link rel="stylesheet" id="lp-course-wishlist-style-css" href="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/wishlist.css" type="text/css" media="all">
        <link rel="stylesheet" id="wp-block-library-css" href="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/style.min.css" type="text/css" media="all">
        <link rel="stylesheet" id="font-awesome-css" href="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/font-awesome.min.css" type="text/css" media="all">
        <link rel="stylesheet" id="builder-press-ionicons-css" href="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/ionicons.css" type="text/css" media="all">
        <link rel="stylesheet" id="builderpress-fontend-css" href="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/builderpress.css" type="text/css" media="all">
        <link rel="stylesheet" id="contact-form-7-css" href="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/styles.css" type="text/css" media="all">
        <link rel="stylesheet" id="sb_instagram_styles-css" href="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/sb-instagram.min.css" type="text/css" media="all">
        <link rel="stylesheet" id="rs-plugin-settings-css" href="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/settings.css" type="text/css" media="all">
        <style id="rs-plugin-settings-inline-css" type="text/css">
            #rs-demo-id {
            }
        </style>
        <link rel="stylesheet" id="wpems-countdown-css-css" href="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/jquery.countdown.css" type="text/css" media="all">
        <link rel="stylesheet" id="wpems-owl-carousel-css-css" href="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/owl.carousel.css" type="text/css" media="all">
        <link rel="stylesheet" id="wpems-magnific-popup-css-css" href="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/magnific-popup.css" type="text/css" media="all">
        <link rel="stylesheet" id="wpems-fronted-css-css" href="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/events.min.css" type="text/css" media="all">
        <link rel="stylesheet" id="builder-press-slick-css" href="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/slick.css" type="text/css" media="all">
        <link rel="stylesheet" id="learn-press-pmpro-style-css" href="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/style.css" type="text/css" media="all">
        <link rel="stylesheet" id="js_composer_front-css" href="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/js_composer.min.css" type="text/css" media="all">
        <link rel="stylesheet" id="dashicons-css" href="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/dashicons.min.css" type="text/css" media="all">
        <link rel="stylesheet" id="learn-press-css" href="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/learnpress.css" type="text/css" media="all">
        <link rel="stylesheet" id="jquery-scrollbar-css" href="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/jquery.scrollbar.css" type="text/css" media="all">
        <link rel="stylesheet" id="ionicon-css" href="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/ionicons(1).css" type="text/css" media="all">
        <link rel="stylesheet" id="select2-style-css" href="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/core.css" type="text/css" media="all">
        <link rel="stylesheet" id="builder-press-bootstrap-css" href="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/bootstrap.css" type="text/css" media="all">
        <link rel="stylesheet" id="thim-style-css" href="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/style(1).css" type="text/css" media="all">
        <link rel="stylesheet" id="thim-style-options-css" href="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/ivy-school.1545491069.css" type="text/css" media="all">
        <link rel="https://api.w.org/" href="https://pencilboxtraining.com/website/wp-json/">
        <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://pencilboxtraining.com/website/xmlrpc.php?rsd">
        <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://pencilboxtraining.com/website/wp-includes/wlwmanifest.xml">
        <meta name="generator" content="WordPress 5.0.3">
        <link rel="canonical" href="https://pencilboxtraining.com/website/">
        <link rel="shortlink" href="https://pencilboxtraining.com/website/">
        <link rel="alternate" type="application/json+oembed" href="https://pencilboxtraining.com/website/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fpencilboxtraining.com%2Fwebsite%2F">
        <link rel="alternate" type="text/xml+oembed" href="https://pencilboxtraining.com/website/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fpencilboxtraining.com%2Fwebsite%2F&amp;format=xml">
        <meta name="generator" content="Powered by WPBakery Page Builder - drag and drop page builder for WordPress.">
        <!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="https://pencilboxtraining.com/website/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen"><![endif]--><meta name="generator" content="Powered by Slider Revolution 5.4.8 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface.">
        <link rel="icon" href="https://pencilboxtraining.com/website/wp-content/uploads/2018/11/cropped-favico-32x32.png" sizes="32x32">
        <link rel="icon" href="https://pencilboxtraining.com/website/wp-content/uploads/2018/11/cropped-favico-192x192.png" sizes="192x192">
        <link rel="apple-touch-icon-precomposed" href="https://pencilboxtraining.com/website/wp-content/uploads/2018/11/cropped-favico-180x180.png">
        <meta name="msapplication-TileImage" content="https://pencilboxtraining.com/website/wp-content/uploads/2018/11/cropped-favico-270x270.png">
        <style type="text/css" data-type="vc_shortcodes-custom-css">
            .vc_custom_1540199727414 {
                padding-top: 10px !important;
                padding-bottom: 250px !important;
                background-color: #f9f9f8 !important;
            }

            .vc_custom_1539846857092 {
                margin-top: -205px !important;
                padding-bottom: 118px !important;
            }

            .vc_custom_1540200770359 {
                padding-bottom: 40px !important;
                background-image: url(https://pencilboxtraining.com/website/wp-content/uploads/2018/10/bg-23.jpg?id=1374) !important;
                background-position: 0 0 !important;
                background-repeat: no-repeat !important;
            }

            .vc_custom_1540200945358 {
                padding-bottom: 18px !important;
                background-position: 0 0 !important;
                background-repeat: no-repeat !important;
            }

            .vc_custom_1540200956493 {
                padding-bottom: 160px !important;
                background-color: #ffffff !important;
                background-position: 0 0 !important;
                background-repeat: no-repeat !important;
            }

            .vc_custom_1540201070071 {
                margin-top: -138px !important;
                padding-bottom: 40px !important;
                background-color: #f8f9f9 !important;
            }

            .vc_custom_1540201086495 {
                padding-bottom: 304px !important;
                background: #f8f9f9 url(https://pencilboxtraining.com/website/wp-content/uploads/2018/10/bg-27.jpg?id=1373) !important;
                background-position: 0 0 !important;
                background-repeat: no-repeat !important;
            }

            .vc_custom_1539846597755 {
                padding-top: 58px !important;
            }

            .vc_custom_1539791675427 {
                padding-top: 45px !important;
            }

            .vc_custom_1540178900314 {
                padding-top: 0px !important;
                padding-right: 60px !important;
            }

            .vc_custom_1539836418684 {
                padding-top: 65px !important;
            }

            .vc_custom_1539863292567 {
                margin-bottom: 0px !important;
            }

            .vc_custom_1539845395736 {
                margin-bottom: 52px !important;
            }
        </style><link rel="stylesheet" href="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/css(1)" media="all"><noscript>
            <style type="text/css">
                .wpb_animate_when_almost_visible {
                    opacity: 1;
                }
            </style>
        </noscript>


    </environment>


    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("Styles", required: false)
</head>



           
<body class="home page-template page-template-templates page-template-home-page page-template-templateshome-page-php page page-id-17 pmpro-body-has-access bg-type-color responsive auto-login default_courses wpb-js-composer js-comp-ver-5.6.1 vc_responsive elementor-default" data-gr-c-s-loaded="true">


    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer id="colophon" class="footer_home_4 site-footer">

        <div class="footer">
            <div class="container">
                <div class="footer-sidebars columns-5 row">
                 
                  
                 
               
                   
                </div>
            </div>
        </div>

        <div class="copyright-area">
            <div class="container">
                <div class="copyright-content">
                    <div class="copyright-text">
                        &copy; @DateTime.Now.Year - All right reserved
                    </div>
                    <aside id="thim_layout_builder-11" class="widget widget_thim_layout_builder">
                        <div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner">
                                    <div class="wpb_wrapper">
                                        <div class="bp-element bp-element-social-links  ">


                                            <ul class="socials">

                                                <li class="facebook">
                                                    <a href="#">
                                                        <i class="social-icon fa fa-facebook"></i>
                                                    </a>
                                                </li>

                                                <li class="twitter">
                                                    <a href="#">
                                                        <i class="social-icon fa fa-twitter"></i>
                                                    </a>
                                                </li>

                                                <li class="pinterest-p">
                                                    <a href="#">
                                                        <i class="social-icon fa fa-pinterest-p"></i>
                                                    </a>
                                                </li>

                                                <li class="linkedin">
                                                    <a href="#">
                                                        <i class="social-icon fa fa-linkedin"></i>
                                                    </a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </div>
    </footer>
  


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>

        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/jquery.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/jquery-migrate.min.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/wishlist.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/wp-polyfill.min.js.download"></script>
        <script type="text/javascript">
            ('fetch' in window) || document.write('<script src="https://pencilboxtraining.com/website/wp-includes/js/dist/vendor/wp-polyfill-fetch.min.js"></scr' + 'ipt>'); (document.contains) || document.write('<script src="https://pencilboxtraining.com/website/wp-includes/js/dist/vendor/wp-polyfill-node-contains.min.js"></scr' + 'ipt>'); (window.FormData && window.FormData.prototype.keys) || document.write('<script src="https://pencilboxtraining.com/website/wp-includes/js/dist/vendor/wp-polyfill-formdata.min.js"></scr' + 'ipt>'); (Element.prototype.matches && Element.prototype.closest) || document.write('<script src="https://pencilboxtraining.com/website/wp-includes/js/dist/vendor/wp-polyfill-element-closest.min.js"></scr' + 'ipt>');
        </script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/i18n.min.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/react.min.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/react-dom.min.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/lodash.min.js.download"></script>
        <script type="text/javascript">
            window.lodash = _.noConflict();
        </script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/escape-html.min.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/element.min.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/autop.min.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/blob.min.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/block-serialization-default-parser.min.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/is-shallow-equal.min.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/compose.min.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/redux-routine.min.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/data.min.js.download"></script>
        <script type="text/javascript">
            (function () {
                var userId = 0;
                var storageKey = "WP_DATA_USER_" + userId;
                wp.data
                    .use(wp.data.plugins.persistence, { storageKey: storageKey })
                    .use(wp.data.plugins.controls);
            })()
        </script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/tinymce.min.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/plugin.min.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/dom.min.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/hooks.min.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/html-entities.min.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/shortcode.min.js.download"></script>
        <script type="text/javascript">
            (function (domain, translations) {
                var localeData = translations.locale_data[domain] || translations.locale_data.messages;
                localeData[""].domain = domain;
                wp.i18n.setLocaleData(localeData, domain);
            })("default", { "locale_data": { "messages": { "": {} } } });
        </script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/blocks.min.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/moment.min.js.download"></script>
        <script type="text/javascript">
            moment.locale('en_US', { "months": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"], "monthsShort": ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"], "weekdays": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"], "weekdaysShort": ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"], "week": { "dow": 0 }, "longDateFormat": { "LT": "g:i A", "LTS": null, "L": null, "LL": "F j, Y", "LLL": "F j, Y g:i a", "LLLL": null } });
        </script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/wp-a11y.min.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/url.min.js.download"></script>
        <script type="text/javascript">
            (function (domain, translations) {
                var localeData = translations.locale_data[domain] || translations.locale_data.messages;
                localeData[""].domain = domain;
                wp.i18n.setLocaleData(localeData, domain);
            })("default", { "locale_data": { "messages": { "": {} } } });
        </script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/api-fetch.min.js.download"></script>
        <script type="text/javascript">
            wp.apiFetch.use(wp.apiFetch.createNonceMiddleware("b05695b8c7"));
            wp.apiFetch.use(wp.apiFetch.createRootURLMiddleware("https://pencilboxtraining.com/website/wp-json/"));
        </script>
        <script type="text/javascript">
            (function (domain, translations) {
                var localeData = translations.locale_data[domain] || translations.locale_data.messages;
                localeData[""].domain = domain;
                wp.i18n.setLocaleData(localeData, domain);
            })("default", { "locale_data": { "messages": { "": {} } } });
        </script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/keycodes.min.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/rich-text.min.js.download"></script>
        <script type="text/javascript">
            (function (domain, translations) {
                var localeData = translations.locale_data[domain] || translations.locale_data.messages;
                localeData[""].domain = domain;
                wp.i18n.setLocaleData(localeData, domain);
            })("default", { "locale_data": { "messages": { "": {} } } });
        </script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/components.min.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/underscore.min.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/backbone.min.js.download"></script>
        <script type="text/javascript">
            /* <![CDATA[ */
            var wpApiSettings = { "root": "https:\/\/pencilboxtraining.com\/website\/wp-json\/", "nonce": "b05695b8c7", "versionString": "wp\/v2\/" };
            /* ]]> */
        </script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/api-request.min.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/wp-api.min.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/frontend.blocks.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/slick.min.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/builderpress.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/jquery.themepunch.tools.min.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/jquery.themepunch.revolution.min.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/watch.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/jquery.alert.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/circle-bar.js.download"></script>
        <script type="text/javascript">
            /* <![CDATA[ */
            var userSettings = { "url": "\/website\/", "uid": "0", "time": "1547375788", "secure": "1" };
            /* ]]> */
        </script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/utils.min.js.download"></script>
        <script type="text/javascript">
            /* <![CDATA[ */
            var lpGlobalSettings = { "url": null, "siteurl": "https:\/\/pencilboxtraining.com\/website", "ajax": "https:\/\/pencilboxtraining.com\/website\/wp-admin\/admin-ajax.php", "theme": "ivy-school", "localize": { "button_ok": "OK", "button_cancel": "Cancel", "button_yes": "Yes", "button_no": "No" } };
            /* ]]> */
        </script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/global.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/jquery.scrollbar.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/learnpress.js.download"></script>
        <script type="text/javascript">
            /* <![CDATA[ */
            var lpCourseSettings = [];
            /* ]]> */
        </script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/course.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/jquery.scrollTo.js.download"></script>
        <script type="text/javascript" src="./PencilBox Training &amp; Consultancy – Professional Training &amp; Consultancy in Bangladesh_files/become-teacher.js.download"></script>
        <script type="text/javascript">
            function tc_insert_internal_css(css) {
                var tc_style = document.createElement("style");
                tc_style.type = "text/css";
                tc_style.setAttribute('data-type', 'tc-internal-css');
                var tc_style_content = document.createTextNode(css);
                tc_style.appendChild(tc_style_content);
                document.head.appendChild(tc_style);
            }
        </script>
        <script type="text/javascript">
            function setREVStartSize(e) {
                try {
                    e.c = jQuery(e.c); var i = jQuery(window).width(), t = 9999, r = 0, n = 0, l = 0, f = 0, s = 0, h = 0;
                    if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function (e, f) { f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e) }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) { var u = (e.c.width(), jQuery(window).height()); if (void 0 != e.fullScreenOffsetContainer) { var c = e.fullScreenOffsetContainer.split(","); if (c) jQuery.each(c, function (e, i) { u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0)) } f = u } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight); e.c.closest(".rev_slider_wrapper").css({ height: f })
                } catch (d) { console.log("Failure at Presize of Slider:" + d) }
            };</script>
        <script type="text/javascript">
            if (typeof ajaxurl === 'undefined') {
                /* <![CDATA[ */
                var ajaxurl = "https://pencilboxtraining.com/website/wp-admin/admin-ajax.php";
                /* ]]> */
            }
        </script>
        <script type="text/javascript">
            if (typeof ajaxurl === 'undefined') {
                /* <![CDATA[ */
                var ajaxurl = "https://pencilboxtraining.com/website/wp-admin/admin-ajax.php";
                /* ]]> */
            }
        </script>


        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

     @RenderSection("scripts", required: false)
</body>
</html>
